/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section{
	margin-bottom:0;
}
html, body{
	height:100%;
	width:100%;
	
}
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #00252E;
  background-color: rgba(255,255,255);
  overflow-x: hidden;
  
}

a {
	cursor: pointer;
  text-decoration: none;
  color:#030d18;
}

img {
  max-width: 100%;
}
h1{
  	font-size: 27px;
  	font-weight:900;
  }
h2{
  	font-size: 24px;
  	font-weight:800;
  }
h3{
  	font-size: 21px;
  	font-weight:600;
  }



b{
	font-weight: bold;
}
.load {
	display:none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/logo4.jpg) center no-repeat #fff;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-main-content{
	
}
#current {
    color: #C2C38F;
}
.not-active {
    pointer-events: none;
    cursor: default;
    color: #C2C38F;
}
.visible{
	display:block;
}
.no-visible{
	display:none;
}
.trans{
	margin-top:50px;	
}
.lang-img{
	width: 30px;
	height: 18px;
}
.cd-main-content-intern{
    
     margin-top:45px;
     font-size:20px;
     
  	 }
 .cd-main-content-intern section{
 	margin-left:0;
 	margin-right:0;
 }
  	 .cd-main-content-intern h3{
 	
 	padding-bottom:3px;
 	font-size:23px;
 }
 .page-pictures{
 	position:relative;
 	top:100px;
 	left:3%;
 	right:3%;
 	width:96%;
 	margin-bottom:70px;
 }
 .page-pictures div p{
 	margin-bottom:10px;
 }
 .cd-main-content-intern1{
     position: relative;
	text-align: left;
	margin-top: 85px;
	margin-bottom: 20px;
	width: 94%;
	left: 3%;
	right: 3%;
	font-size:20px;
    line-height: 1.3em;
  	 }
  	 .cd-main-content-intern1 h3{
 	
 	padding-bottom:3px;
 	font-size:23px;
 }    
 #cd-intro {
  position: relative;
  top:87px;
  left:0;
  height: 400px;
  z-index: 4;
}
 .cd-main-content-intern1 li{
 list-style-type:initial;
 list-style-position: inside;
 padding-top:2px;
 }
 .cd-main-content-intern1 h2{
 	color: #776A62;
 	padding-bottom:3px;
 	font-size:25px;
 }  	
.title {
    position: relative;
    width: 100%;
    }
.logo-inside{
	width:100%;
}
.logo-inside img{
	width:100%;
	height:200px;
}
.infos-inside{
	width:100%;
	text-align:left;
	font-size:22px;
}
.camere-img{
	width:100%;
	height:250px;
}
.camere-text{
	width:100%;
	
}
.small-button{
    position:relative;
    top:135px;
    left:0%;
    width:45%;
    display: inline-block;
    padding: 0.7em 1em;
    text-align:center;
    background-color: #B8E62E;
    border-radius: 16em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
     }
.small-button-left{
    
    position:relative;
    top:47px;
    left:1%;
    width:48%;
    display: inline-block;
    padding: 0.7em 1em;
    text-align:center;
    background-color: #B8E62E;
    border-radius: 16em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    z-index:4;
     }
     .small-button-right{
    position:relative;
    top:47px;
    left:3%;
    width:48%;
    display: inline-block;
    padding: 0.7em 1em;
    text-align:center;
    background-color: #B8E62E;
    border-radius: 16em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    z-index:4;
    
  
  }
  .small-button1{
    position:relative;
    top:135px;
    left:0%;
    width:45%;
    display: inline-block;
    padding: 0.7em 1em;
    text-align:center;
    background-color: #B8E62E;
    border-radius: 16em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    
    
  
  }
  #request_l{
  	position:relative;
  	top:200px;
  }
.logo-img{
	display: block;
    max-width: 100%;
    height: auto;
    
}
#close{
	width:100px;
	height:100px;
	position:absolute;
	top:20px;
	right:120px;
	background-image:url(../img/close.png);
}
#contact{
	display:none;
	z-index: 99999;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	text-align: center;
	font-size: 32px;
	color: #333;
	background: #FAFBFA none repeat scroll 0% 0%;
	overflow: scroll;
	padding: 150px 10px 0px 10px;
}
#contact textarea{
	width:350px;
	padding: 25px;
	border-radius:4px;
	border:1px solid #7ac9b7;
	margin-bottom:10px;
}
#contact input[type=text]{
	width:250px;
	padding: 10px;
	border-radius:4px;
	border:1px solid #7ac9b7;
	
	margin-bottom:25px;
}
#contact input[type=email]{
	margin-bottom:25px;
	border:1px solid #7ac9b7;
}
#contact input[type=submit]{
	width:150px;
	padding: 5px;
}
.contact{
	text-align: center;
}
#contact h2{
    
	margin-bottom:25px;
}

div.cd-main {
    position: relative;
    
    top: -15px;
}
.link-color{
	color:#76919F;
	
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	/* Hide table headers (but not display: none;, for accessibility) */
	th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "PERIODO"; }
	td:nth-of-type(2):before { content: "STANDARD"; }
	td:nth-of-type(3):before { content: "STANDARD(WEEK)"; }
	td:nth-of-type(4):before { content: "JUNIOR SUITE"; }
	td:nth-of-type(5):before { content: "JUNIOR SUITE(WEEK)"; }
	
	
}
@media only screen and (min-width: 1170px) {


#contact textarea{
	width:650px;
	padding: 45px;
	
}

.logo-img{
	border-radius:0px;
}  
.small-button-left{
	display:none;
}
.small-button-right{
	display:none;
}
.title{
    position:relative;
    top: 150px;
    text-align:center;
    }
.page-pictures h2{
	font-size:25px;
}
.logo-inside{
	width:50%;
	float:left;
	margin-bottom:120px;
}
.logo-inside img{
	width:100%;
	height:200px;
}
.infos-inside{
	width:40%;
	text-align:left;
	float:left;
	margin-left:10px;
	}
.cd-main-content-intern{
     margin:0;
     display: inline-block;
	 width: 100%;
	 vertical-align: top;
	 margin-top: -11px;
  	 }
  div.cd-main {
    position: relative;
	margin-left: 22%;
	margin-top: -2px;
	margin-bottom: -12px;
   }
  	 .cd-main-content-intern li{
 
 padding-top:4px;
 }
 div.clear {
    clear: both;
    line-height: 0px;
    font-size: 0px;
    height: 0px;
    overflow: hidden;
    text-indent: -100px;
}

 .cd-main-content-intern h2{
 	color: #776A62;
 	padding-bottom:6px;
 	font-size: 25px;
 }
 .cd-main-content-intern h3{
 	font-size: 22px;
 }  	  	   	  	 
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* -------------------------------- 

Navigation

-------------------------------- */
.lang-switch{
 
 position: absolute;
left: 20px;
z-index: 1005 !important;
width: 180px;
font-size: 25px;
top: 33px;

	
}
.lang-switch a{
	color: #76919F;
	padding-right:20px;
}


.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 87px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color:#fff;
   z-index: 5;
}
.logo a{
	width:200px;
	height:87px;
}





.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 94px;
  height: 100%;
  background: url("../img/cd-icon-menu1.svg") no-repeat center center;
  background-size: 74px 74px;
  z-index: 1019 !important;
  
}
.cd-primary-nav ul {
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
/*  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);*/
}

.cd-primary-nav ul.is-visible {
  display:block;
  transform: translateY(87px);
  
}
.cd-primary-nav a {
  display: block;
  height: 70px;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 80px;
  padding-left: 5%;
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #A9A9A9;
  color: #878787;
  
}

.fixed-menu{
	display:none;
}
.phone{
    width: 74px;
    height: 74px;
	margin-top: 18px;
	margin-left: 52%;
}
.phone a{
	background-clip: border-box;
	background-color: transparent;
	background-image: url(../img/phone1.png);
	background-origin: padding-box;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto auto;
  	color: #CACD32;
  	cursor: pointer;
  	display: block;
  	font-size: 16px;
  	height: 87px;
	text-align: center;
	text-decoration: none #CACD32;
	position: relative;
	top: -18px;
 
}
.phone:hover{
	opacity: 1;
}
.phone img{
    display:block;
	margin: 0 auto;
}
.logo{
    width:115px;
    height:50px;
	
}
.logo a{
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto auto;
  	color: #CACD32;
  	cursor: pointer;
  	display: block;
  	font-size: 16px;
  	height: 50px;background
  	line-height: 22px;
  	text-align: center;
  	text-decoration: none;
  	-moz-text-decoration-color: #CACD32;
  	-moz-text-decoration-line: none;
  	-moz-text-decoration-style: solid;
 
}


  #request{
    position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 32px;
	padding: 150px 10px 0px 10px;
    color: #FFF;
    background-color:#777;
  }
  form div{
  	padding-bottom:35px;
  }
  .second-title{
  	padding-top:80px;
  }
  #request1{
    display:none;
	z-index: 99999;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	text-align: center;
	font-size: 32px;
	color: #333;
	background: #FAFBFA none repeat scroll 0% 0%;
	overflow: scroll;
	padding: 150px 10px 0px 10px;
  }
  #request1 fieldset{
  	margin:10px;
  	padding:5px;
  }
  #requestForm{
  	margin: 10px;
	padding: 35px 5px;
  }
  .price_table{
  	margin-top:90px;
  	margin-bottom:100px;
  	margin-left:3%;
  	margin-left:3%;
  	padding: 0px;
    text-align: center;
  	border-radius:5px;
  	color: #615F59;
    line-height: 25px;
    font-size: 10px;
}
.price_table table{
	text-align:center;
	padding: 0px;
    margin: 0px;
    border: 1px solid white;
    text-align: center;
    width:94%;
}
.price_table td {
    margin: 0px;
	padding-top: 4px;
	border: 1px solid #FFF;
	font-size: 16px;
	padding-bottom: 4px;
}
.price_table tr.rigachiara {
    background-color: #E3E3E3;
    margin: 10px 0px 0px;
    padding: 10px 0px 0px;
}
.price_table tr.rigascura {
    background-color: #C8C8C8;
    margin: 10px 0px 0px;
    padding: 10px 0px 0px;
}
.price_table th{
	color: #FFF;
	font-weight: bold;
	background-color: #998980;
	margin: 0px;
	padding: 0px;
	border: 1px solid white;
	font-size:18px;
	
  }
  
  .price_table h2{
  	color: #776A62;
  	font-size: 22px;
  	font-weight:800;
  }
  .price_table h3{
  	font-size: 20px;
  	font-weight:600;
  }
  .notes{
  	font-size: 18px;
  }
  .price_table th.intestazioneprezzi {
    background-color: #776A62;
    margin: 0px;
    padding: 2px 0px;
}

.whole{
	width: 100%;
	text-align: center;
    display: block;
    height:300px;
}	
}
  
  .large-field{
  	width:90%;
  	border-radius:4px;
    border:1px solid #7ac9b7;
    margin-bottom:10px;
    height: 2.5em;
    line-height: 2.5em;
  }
  .child-field{
  	width:100%;
  	border-radius:4px;
    border:1px solid #7ac9b7;
    margin-bottom:10px;
    height: 2.5em;
    line-height: 2.5em;
    float:left;
    padding-right:5px;
  }
  #request h2{
  	text-align:center;
  	font-size:2em;
  	font-weight:600;
  	}
  	#request h3{
  	text-align:center;
  	font-size:1.5em;
  	font-weight:400;
  	}
  	#request1 h2{
  	text-align:center;
  	font-size:2em;
  	font-weight:600;
  	}
  	#request1 h3{
  	text-align:left;
  	font-size:1.5em;
  	font-weight:400;
  	}
  	.formLabel{
	width: auto;
	float: none;
	display: block;
	margin-top: 0px;
  	}
  	.child1{
  	width:50%;
  	padding-right:3%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.med-field{
  	width:67%;
  	padding-right:3%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.textarea{
	
	width: 100%;
	height:80%;
  	}
  	.textarea-form{
  		width:100%;
  		height:180px;
  	}
  	.submit-button{
	padding: 5px;
	border-radius:4px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: white;
	font-size:15px;
	cursor:pointer;
	
  		
  	}
  	
  	.header-desktop-bottom{
  		display:none;
  	}
  	.walking-logo{
  		display:none;
  	}
  	iframe{
	width:100%; 
	height:300px;
	frameborder:0;
    border:0;
}
.right-text{
    position: relative;
	top: 50px;
	left: 0%;
	width: 100%;
	height: 450px;
	word-wrap: break-word;
	padding-top: 2px;
	}
	.right-text h3{
		font-size:18px;
	}
	.camere{
		width:100%;
		margin-bottom:20px;
	}
	.media-img{
	width:100%;
	height:330px;
	margin-bottom:25px;
}
.media-img3{
	width:100%;
	height:33klàò0px;
	margin-bottom:25px;
}
.media-img2{
	width:100%;
	height:280px;
	
}
#request input{
 	border-radius: 4px;
	border: 1px solid #7AC9B7;
	margin-bottom: 10px;
	line-height: 2.5em;	
 }
 #newsletter input{
 	border-radius: 4px;
	border: 1px solid #7AC9B7;
	margin-bottom: 10px;
	line-height: 2.5em;	
 }
 .header-logo{
  	height: 31px;
opacity: 1;
position: relative;
margin-top: 30px;
  }
@media only screen and (min-width: 768px) {
.page-pictures{
 	position:relative;
 	top:140px;
 	margin-bottom:100px;
 }
.cd-primary-nav {
  
  float: right;
  margin-right: 5%;
  width: 94px;
  height: 100%;
  background: url("../img/cd-icon-menu1.svg") no-repeat center center;
  background-size: 74px 74px;
  z-index: 1019 !important;
  
}
.small-button-left{
	display:none;
}
.small-button-right{
	
    width: 20%;
    left: 62%;
    z-index: 7;
    position: absolute;
    top: 25px;

}
.camere-img{
	width:50%;
	height:auto;
	float:left;
	margin-bottom:55px;
}
.media-img{
	width:48%;
	height:280px;
	float:left;
	margin-right:4%;
	margin-bottom:25px;
}
.media-img3{
	width:48%;
	height:280px;
	float:left;
	margin-right:4%;
	margin-bottom:150px;
}
.media-img2{
	width:47.9%;
	height:280px;
	float:left;
	
}
.camere{
		width:100%;
		margin-bottom:300px;
		clear:both;
	}
	.piscine{
		width:100%;
		
		clear:both;
	}
.camere-text{
	width:45%;
	height:250px;
	float:left;
	margin-left:25px;
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(87px);
  -moz-transform: translateY(87px);
  -ms-transform: translateY(87px);
  -o-transform: translateY(87px);
  transform: translateY(87px);
}
	.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 87px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 5;
}


   .arrival-form, .departure-form, .board-form, .room-form, .address, .country, .phone-form, .med-field{
  	width:50%;
  	padding-right:3%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.adults-form{
  	clear:both;
  	width:50%;
  	}
  	.form-title{
	  	clear: none;
		margin-top: 20px;
		float: left;
		width: 36%;

  	}
  	.name{
  	width:50%;
  	padding-right:3%;
  	clear: both;
    float: left;
    display: inline;
  	}
  	.surname{
  	width:50%;
  	padding-right:3%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.check-field{
	clear:both;
  	}
    .textarea{
	width:75%;
}
.check-boxes{
	width:100%;
	clear:both;
}
} 
@media screen and (min-width: 1340px) {	
.fixed-menu ul{
    font-size: 1.4em;
	position: relative;
	top: 50px;
	width: 100%;
	text-align: center;
	
}
.fixed-menu ul li{
	padding-top: 0px;

color: #76919F;
position: relative;
left: 0px;
font-family: "FrankRegular";
font-size: 19px;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
width: 100%;
padding-bottom: 23px;
}
}
@media screen and (min-width: 1140px) {
.cd-main-content-intern1{
	margin-top: 50px;
	font-size: 17px;
	margin-right: 12px;
	
	left: 24%;
	width: 70%;
	
	
}
.half-page{
	width:60%;
	float:left;
}
#request-container{
	left:200px;
}
.half2-page{
	width:35%;
}

#cd-intro-tagline{
    position: relative;
    top:50px;
    padding-left:auto;
    padding-right:auto;
	z-index: 1000 !important;
}
.price_table{
    margin-top:65px;
  	margin-left:23%;
  	width:76%;
  }
  .logo-desktop{
  	position:relative;
  	top:20px;
  	left:7.5%;
  	width:85%;
  	
  	}
  	
  .price_table table{
  	width:100%;
  }
.lang-switch{
    position: absolute;
	left: 0px;
	top: 210px;
	z-index: 1005 !important;
	padding-left: 5px;
	
	width: 50px;
	height: 150px;

}
.lang-switch a{
    padding-bottom: 10px;
	width: 50px;
	height: 50px;
	font-size: 0.6em;
	font-family: "FrankRegular";
	
}
.lang-switch div{
	width:40px;
	height:40px;
	line-height: 40px;
}
.lang-switch a:hover{
	color:#C2C38F;
	
}
.logo{
	display:none;
}
#request{
  	margin-left: 22%;
	width: 78%;
	margin-top: -85px;
  	
  }
  .walking-logo{
  	text-align:center;
  	display:block;
  	
  }
  .header-logo{
  	height: 31px;
	opacity: 0.8;
	margin-top: 52px;
	
	position: relative;
  }
  .header-logo:hover{
  	opacity:1;
  }
 
  .walking-logo a:hover{
  	opacity:1;
  }
  
  #request1 fieldset{
  	margin:50px;
  	
  }
  .header-desktop-top{
    margin: 2px 0px 0px;
	padding: 0px 0px 10px;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
	height:65px;
  	
  }
  .header-desktop-bottom{
    margin-top:10px;
	text-align:center;
	display:block;
	height:35px;
  }
  .center-header{
   margin-left:200px;
  	
  }
  ul.header-desktop-list{
    display: inline-block;
	vertical-align: top;
    padding: 0px;
}
.header-desktop-list li{
	float:left;
	display:inline;
	font-size:1.1em;
	
	padding-left:8px;
	padding-right:8px;
	color: #030d18;
}
.header-desktop-list a:hover{
	
	font-weight:600;
}
.header-desktop-list li.third{
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	
}
.header-desktop-list li.first, .header-desktop-list li.second{
	border-left: 1px solid #AAA;
	
}

  .cd-header {
    display:none;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #999;
    
    
  }
  #request1{
  	margin-left:22%;
  	margin-right:6%;
  	width:72%;
  	
  }
  #requestForm{
  	margin:50px;
  	 }
  	 .arrival-form, .departure-form, .board-form, .room-form{
  	width:50%;
  	padding-right:4%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.adults-form{
  	
  	width:40%;
  	padding-right:4%;
  	clear: none;
    float: left;
    display: inline;
  	}
  	.child1{
  	width:30%;
  }
  

.textarea{
	width: 60%;
	height: 150px;
}
  .fixed-menu{
  display: block; 
  position:fixed;
  width:22%;
  top:0;
  z-index: 1002 !important;
  height: 100%;
  margin:auto;
  box-shadow: 0px 0px 10px 0px #999;
  /*#1975FF;*/
   border-radius: 3px;
  -webkit-backface-visibility: hidden; 
   -webkit-transform: translateZ(0);
	
}
.menu-bottom{
	position: absolute;
	width: 100%;
	bottom: 0%;
	text-align: center;
}
.menuFooter{
	position:relative;
	width:100%;
	bottom:0;
	height:4px;
	background-color:white;
}
.menuFooter1{
	position: relative;
	width:100%;
	top:145px;
	height:5px;
	background-color:#A9A9A9;
	z-index: 1002 !important;
}
.phone{
	display:none;
}
.fixed-menu ul{
    font-size: 1.4em;
	position: relative;
	top: 40px;
	width: 100%;
	text-align: center;
	
}
.fixed-menu ul li{
	padding-top: 0px;

color: #76919F;
position: relative;
left: 0px;
font-family: "FrankRegular";
font-size: 19px;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
width: 100%;
padding-bottom: 19px;
}
.fixed-menu a{
	vertical-align:center;
	margin:0 auto;
}
.fixed-menu ul li:hover{
	opacity:1;
	color:#C2C38F;
	
}
  .cd-primary-nav {
    display:none;
   }
  iframe{
	width:50%; 
	height:450px;
	
	frameborder:0;
    border:0;
}
.right-text{
    position: absolute;
	top: 50px;
	left: 51%;
	width: 50%;
	height: 450px;
	word-wrap: break-word;
	padding-top: 2px;
	
	}
	
}
  
}

/* -------------------------------- 

Intro

-------------------------------- */




.winter::after {
  content: "";
  background: transparent url(../img/winter1.jpg) no-repeat;
  background-size: 100% 100%;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}

.summer::after {
  content: "";
  background: transparent url(../img/val-venegia-under-the-pale-di-san-martino-dolomites.jpg) no-repeat;
  background-size: 100% 100%;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.beauty::after {
  content: "";
  background: transparent url(../img/well.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.spa::after {
  content: "";
  background: transparent url(../img/sauna.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.ega::after {
  content: "";
  background: transparent url(../img/acqua.jpeg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.cd-main-content-intern a{
	color:#fff;
}

.beau::after {
  content: "";
  background: transparent url(../img/massaggi.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.notonly::after {
  content: "";
  background: transparent url(../img/non_solo_sci.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}

.hotel::after {
  content: "";
  background: transparent url(../img/principali/berghotel_miramonti-1.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  max-width: 100%;
  max-height: 100%;
}
.hiking::after {
  content: "";
  background: transparent url(../img/hiking.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.guest::after {
  content: "";
  background: transparent url(../img/fiemme-dolomiti-trentino-fondo.jpeg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}

.offe1::after {
  content: "";
  background: transparent url(../img/estate-2015.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.offe2::after {
  content: "";
  background: transparent url(../img/PRIMA-NEVE-BERGHOTEL.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.offe3::after {
  content: "";
  background: transparent url(../img/NEVE-AL-TOP-BERGHOTEL.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.offe-gioia-invernale::after {
  content: "";
  background: transparent url(../img/coppia-felice-inverno.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.offe4::after {
  content: "";
  background: transparent url(../img/supersun.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.offe5::after {
  content: "";
  background: transparent url(../img/dolomiti-trentino-fiemme-powder.jpeg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}

.camere-intern::after {
  content: "";
  background: transparent url(../img/cielo.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.fit::after {
  content: "";
  background: transparent url(../img/fitness.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.gourmet::after {
  content: "";
  background: transparent url(../img/gourmet.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.pensa::after {
  content: "";
  background: transparent url(../img/certificato.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.lunch::after {
  content: "";
  background: transparent url(../img/pranzonatale.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.fam::after {
  content: "";
  background: transparent url(../img/famiglia.jpg) 50% 100% no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.wint::after {
  content: "";
  background: transparent url(../img/trentino-dolomiti-latemar-neve.jpeg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.alp::after {
  content: "";
  background: transparent url(../img/alpine-ski.jpeg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.nord::after {
  content: "";
  background: transparent url(../img/sci_nordico.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.school::after {
  content: "";
  background: transparent url(../img/sci_scuola.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.page-pictures p{
	color: #808080;
opacity: 1;
font-size: 20px;
font-weight: 900;
line-height: 25px;
position: relative;
top: 50%;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
margin: 0px auto;
}
.page-pictures p span{
	color: #FFF;
font: bold 24px/45px Helvetica,sans-serif;
letter-spacing: -1px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
padding: 10px;
}
.bike::after {
  content: "";
  background: transparent url(../img/bici.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.family::after {
  content: "";
  background: transparent url(../img/family.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.mini::after {
  content: "";
  background: transparent url(../img/miniclub.jpg) 50% 0% no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.trek::after {
  content: "";
  background: transparent url(../img/walking.JPG) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}
.filo::after {
  content: "";
  background: transparent url(../img/energia.jpg) no-repeat;
  background-size: cover;
  background-position:50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;  
}

#cd-intro-fix {
  position: relative;
  top:87px;
  left:0;
  height: 400px;
  z-index: 2;
}
#cd-intro-fix-intern {
    position: relative;
	top: 87px;
	left: 0px;
	height: 400px;
	z-index: 2;
}
#internalRight{
	position: relative;
    top:66px;
    left:0;
    z-index: 2;
	background-color:#B8E62E;
}
#internalRight-out{
	position: relative;
    top:66px;
    left:0;
    z-index: 2;
	background-color:#B8E62E;
}


.content h2{
	text-align: center;
font-size: 45px;

margin-bottom: 12px;
}
.content{
    position: relative;
	text-align: left;
	width: 94%;
	left: 3%;
	font-size: 28px;
	padding-top: 10px;
color: #FFF;
}
#cd-intro-fix::after {
    content: "";
    
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}



#cd-intro #cd-intro-tagline {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
#cd-intro-fix #cd-intro-tagline {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}

#cd-intro h1, #cd-intro-fix h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #030d18;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    display:none;   
    z-index: 999;
	position: absolute;
	top: 75%;
	left: 22%;
	width: 86%;
	text-align: center;
	opacity: 0;
	color: #FFF;
	animation: 36s linear 0s normal none infinite running titleAnimation;
	background-color: rgba(255, 255, 255, 0.2);
	height: 25%; 
}
.cb-slideshow li div h3 { 
   font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
	font-size: 140px;
	padding: 0px;
	line-height: 200px;
	font-weight: 100;
	position: relative;
	top: -45px;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/principali/berghotel_esterna_stelle.jpg); 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/principali/berghotel_miramonti-2.jpg); 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/principali/berghotel_miramonti_piscina.jpg); 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../img/principali/berghotel_miramonti_wellness.jpg); 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../img/principali/berghotel_miramonti_sala_giochi.jpg); 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../img/principali/berghotel_miramonti_camera.jpg); 
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
/* Animation for the slideshow images */

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
.dark{
	background-color:#3C3C3C;
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
.booking{
    display:none;
    position:absolute;
	top:220px;
	left:0;
	z-index: 1 !important;
	background-color:transparent;
   height:50px;
	width:100%;
	
	
}
.bookingForm{
	position:relative;
	top:0;
	left:0;
	z-index: 1001 !important;
	height: 30px;
    line-height: 30px;
    margin-left:20px;
    margin-right:0;
	
}
.form1{
	width:100%;
	margin: 0 auto;
}
.form2{
	width:100%;
	margin: 0 auto;
}
.booking input[type=text]{
	width:150px;
	padding: 5px;
	border-radius:4px;
	border:1px solid #7ac9b7;
	margin-bottom:10px;
}
.booking input[type=submit]{
	padding: 5px;
	width:180px;
	border-radius:4px;
	border:1px solid #7ac9b7;
	background-color: #1975FF;
	color: white;
	font-size:15px;
	cursor:pointer;
	text-align:center;
}
#datepicker{
	display:inline-block;
}
.mainContent{
    margin-top:40px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	text-align:left;
	font-size:1.2em;
	color: #615F59;
}


.mainContent h2{
	font-size:1.5em;
	color: #776A62;
	
}
.cd-btn1{
    width: 50%;
	display: inline-block;
	padding: 0.8em 1em;
	text-align: center;
	background-color: #BFE843;
	border-radius: 10px;
	backface-visibility: hidden;
	color: #FFF;
	
   
  }
 .button1{
 	position: relative;
    top: 25px;
	
	width: 50%;
	
 }
 .button2{
 	position: relative;
    top: 30px;
	
	width: 50%;
	
 }
  .cd-btn1:hover{
  	background-color:#B8E62E;
  }
  .logobox{
  	height:150px;
  	
  }




@media only screen and (min-width: 768px) {
.fam::after {
  background: transparent url(../img/famiglia.jpg) 100% 100% no-repeat center;
  
  }
#cd-intro {
    position:relative;
    top:87px;
    left:0;
     height: 400px;
  }
  #internalRight {
    position: relative;
    top:50px;
    left:0;
    z-index: 2;
  }
  #internalRight-out {
    position: relative;
    top:50px;
    left:0;
    z-index: 2;
  }
  #cd-intro-fix {
    position:relative;
    top:70px;
    left:0;
     height: 400px;
  }
  #cd-intro-fix-intern {
    position:relative;
    top:70px;
    left:0;
     height: 400px;
  }
  .form1{
    position:absolute;
    left:60px;
    top:5px;
    width:50%;
	}
.form2{
    padding: 0 auto;
	position:absolute;
	margin: 10px auto;
	left:50%;
	color:white;
	width:50%;
}

.booking input[type=text]{
    position:relative;
    left:0;
	float:left;
	margin-right:5px;
	padding:10px;
	
}
.booking input[type=submit]{
	width:200px;
	
	
}
.booking{
    display:block;
    background-color: #AAAAAA;;
	position:absolute;
	top:350px;
}
  
  .bookingForm{
    position:relative;
	left:0;
	top:0;
	z-index: 1000 !important;
	width:100%
	display:inline-block;
}
  }
@media only screen and (min-width: 1170px) {
.cb-slideshow li span { 
    width: 78%;
    }
.cb-slideshow li div {
	display:block;
}
.cb-slideshow li span {
	left:22%;
}
.lang-a{
	position:relative;
	width:50px;
	height:50px;
}

.title{
	margin-top:0;
}
.form1{
    position:absolute;
    left:5%;
    top:10px;
    width:45%;
	}
.form2{
    padding: 0 auto;
	position:absolute;
	margin: 10px auto;
	left:30%;
	color:white;
	width:50%;
}
.cb-slideshow{
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:92%;
}
  #cd-intro {
    position:relative;
    top:0;
    left:0;
    height: 100%;
  }
  


.booking input[type=text]{
   padding:5px;
	
	margin-right:5px;
}
.booking input[type=submit]{
	width:195px;
	
	
}
.booking{
   display:block;
    background-color:#AAAAAA;;
	width:85%
    position:relative;
	top:92%;
	left:22%;
	z-index: 800 !important;
	}
  .bookingForm{
    position:relative;
	left:14%;
	top:0;
	z-index: 1000 !important;
	width:85%
	display:inline-block;
}
.mainContent{
    background-color:white;
    height:100px;
	margin-left: 20%;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	text-align:left;
	font-size:1.3em;
	color: #615F59;
}
.mainContent h2{
	font-size:1.5em;
	color: #776A62;
	
}

  #cd-intro-tagline{
  	position:relative;
  	top:170px;
  }
  #cd-intro-fix {
    position: relative;
	top: 0px;
	left: 22%;
	width: 78%;
	height: 100%;
	display: inline-block;
  }
  #cd-intro-fix-intern {
    display: inline-block;
	top: 0px;
	left: 22%;
	position: relative;
	width: 78%;
	height: 100%;
  }
  
  #internalRight-out {
    top: 70%;
	height: 30%;   
    width: 78%;
    display: inline-block;
    position: absolute;
    left: 22%;
    
    background-color: rgba(0, 0, 0, 0.3);

  }
  
  #internalRight {
        top: 0px;
    width: 78%;
    display: inline-block;
    position: absolute;
    left: 22%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.3);

  }
  #cd-intro #cd-intro-tagline {
    padding-top: 160px;
  }
  #cd-intro-fix #cd-intro-tagline {
    padding-top: 160px;
  }
  #cd-intro h1, #cd-intro-fix h1{
    font-size: 32px;
    font-size: 2rem;
  }

  
  #cd-intro #cd-intro-tagline {
    padding-top: 250px;
  }
  #cd-intro-fix #cd-intro-tagline {
    padding-top: 250px;
  }

  
.page-pictures{
	position:relative;
    top:60px;
    left:1%;
    right:1%;
    width:98%;
    margin-top:15px;
    margin-bottom:65px;
    font-size:18px;
   line-height:1.2em;
}
.page-offers{
	position:relative;
    top:60px;
    left:1%;
    right:1%;
    width:98%;
    margin-top:15px;
    margin-bottom:65px;
    font-size:18px;
   line-height:1.2em;
}
.page-offers h2{
	text-align:center;
}

.page-pictures p{
	color:gray;
  opacity:1;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  position: relative;
  top:50%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin-bottom:20px;
}

}
.page-pictures h3{
		font-size:18px;
		
	}
.attività-img{
	width:100%;
}
.camere h3{
	clear:both;
	font-size:24px;
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
  .page-pictures{
	position: relative;
	top: 70px;
	left: 22%;
	width: 75%;
	margin-left: 20px;
	}
    .page-offers{
	position:relative;
    top:50px;
    left:23%;
    right:5%;
    width:76%;
    
    margin-top:15px;
    margin-bottom:55px;
    }
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */

.cd-section {
  position:relative;
  top:18px;
  padding: 0;
  
  height: 250px;
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  max-width: 100%;
  max-height: 100%;
  
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  color:white;
  opacity:1;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  top:45%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 auto;

}
.cd-section p span{
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgba(0, 0, 0, 0.6);
   padding: 5px; 
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
   font-weight: 600;
   
}
.cd-section p .smaller{
   color: white; 
   font: bold 24px/38px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
   background: rgba(0, 0, 0, 0.6);
   padding: 5px; 
   font-weight: 600;
}
#cd-placeholder-1, #cd-placeholder-2,#cd-placeholder-3,#cd-placeholder-4,#cd-placeholder-5,#cd-placeholder-6{
  width: 100%;
    height: 300px;
  background-color: transparent;
  background-repeat:no-repeat;
  background-size: cover;  
    
}

#hike-back{
    margin-top:81px;
	background-image:url('../img/hiking.jpg');
}
#offerta-gioia-back{
    background-image:url('../img/coppia-felice-inverno.jpg');
}
#offerta-benessere-back{
    background-image:url('../img/berghotel_zona_relax.jpg');
}
#guest-back{
    background-image:url('../img/fiemme-dolomiti-trentino-fondo.jpeg');
    background-position: 50% 100%;
}
#prezzi-back{
    
	background-image:url('../img/reception.jpg');
}
#hike-back2{
    margin-top:81px;
	background-image:url('../img/hiking.jpg');
}
#lastminute-back{
    background-image:url('../img/dolomiti-trentino-fiemme-powder.jpeg');
}

#spawelness-back{
   
	background-image:url('../img/well.jpg');
}
#map-back{
    
	background-image:url('../img/map.png');
}
#fam-back{
    margin-top:81px;
    background-position: 50% 10%;
	background-image:url('../img/famiglia.jpg');
}
#gourmet-back{
	background-image:url('../img/gourmet.jpg');
}
#alpine-back{
	margin-top:81px;
	background-image:url('../img/alpine-ski.jpeg');
}
#nordic-back{
	background-image:url('../img/sci_nordico.jpg');
}
#notonly-back{
	background-image:url('../img/non_solo_sci.jpg');
}
#notonly1-back{
	background-image:url('../img/non_solo_sci.jpg');
}
#scuola-back{
	background-image:url('../img/sci_scuola.jpg');
}
#miniclub-back{
	background-image:url('../img/miniclub.jpg');
}
#think-back{
	background-image:url('../img/certificato.jpg');
}
#filosofia-back{
	background-image:url('../img/energia.jpg');
}
#walk-back{
    
	background-image:url('../img/walking.JPG');
}
#room-back{
	background-image:url('../img/camera.jpg');
}

#eventi-back{
	background-image:url('../img/suoni.jpg');
}
#summer-back{
	background-image:url('../img/val-venegia-under-the-pale-di-san-martino-dolomites.jpg');
	background-position: 50% 0%;
}
#offerta1-back{
	background-image:url('../img/estate-2015.jpg');
}
#offerta7-back{
	background-image:url('../img/dolomiti-trentino-fiemme-powder.jpeg');
}
#offerte-back{
	background-image:url('../img/PRIMA-NEVE-BERGHOTEL.jpg');
}
#offerta2-back{
	background-image:url('../img/PRIMA-NEVE-BERGHOTEL.jpg');
	margin-top: 48px;
}
#offerta3-back{
	background-image:url('../img/NEVE-AL-TOP-BERGHOTEL.jpg');
}
#offerta4-back{
	background-image:url('../img/supersun.jpg');
	margin-bottom: -64px;
}
#offerta5-back{
	background-image:url('../img/offerte.jpeg');
}
#offerta6-back{
	background-image:url('../img/offerte.jpeg');
}
#winter-back{
	
	background-image:url('../img/trentino-dolomiti-latemar-neve.jpeg');
	background-position: 50% 0%;
}
#lunch-back{
	margin-top:64px;
	background-image:url('../img/pranzonatale.jpg');
	
}
#family-back{
   
	background-image:url('../img/family.jpg');
}
#attività-back{
    
	background-image:url('../img/rafting.jpg');
}
#bici-back{
   
	background-image:url('../img/bici.jpg');
}
#news-back{
   margin-bottom:122px;
	background-image:url('../img/newsletter.png');
}
#well-back{
	background-image:url('../img/well.jpg');
}

#spa-back{
margin-top:81px;
	background-image:url('../img/sauna.jpg');
}
#beauty-back{
	background-image:url('../img/massaggi.jpg');
}
#acqua-back{
	background-image:url('../img/acqua.jpeg');
}
#fitness-back{
	background-image:url('../img/fitness.jpg');
}
.trentino-img{
	width:170px;
	
}
.link-img{
	width:60%;
	
}
@media only screen and (min-width: 768px) {
  .link-img{
	width:40%;
	
}
.trentino-img{
	width:40%;
	
	
}
  #hike-back{
    margin-top:65px;
}
#fam-back{
     margin-top:65px;
     
}
#hike-back2{
    margin-top:65px;
	
}
#alpine-back{
	margin-top:65px;
}

#spa-back{
    margin-top:65px;
	
}
#lunch-back{
    margin-top:102px;
    
	
}

#nordic-back{
	background-position: 50% 10%;
	}
#notonly-back{
	background-image:url('../img/non_solo_sci.jpg');
}

.cd-section {
  height: 300px;
  
}
  
}
@media only screen and (min-width: 1170px) {
.center-main{
	position:relative;
	left:222px;
}
.link-img{
	width:19%;
	
	padding-right:5px;
}
.trentino-img{
	width:19%;
	
	padding-right:5px;
}
  .cd-section {
  top:0px;
  display:inline-block;
  vertical-align: top;
  transition: all 1s ease-out;
 box-sizing: border-box ;
 background-size:100% 100%;
 
 /*filter: grayscale(0%);*/
}

.cd-section p span{
	transition: all 1s ease-out;
	opacity:1;
	
}
.cd-section:hover p span{
	transition: all 1s ease-out;
	opacity:0;
	
}
.cd-section:hover {
	 background-size:120% 120%;
 
    transition: all 1s ease-out;
   /* filter: grayscale(0%);*/
}


.right-bar{
    position:absolute;
    right:0;
    top:0;
	width:1%;
	height:200%;
	background-color:#3385FF;
	z-index:1010;
}
.cd-section p span{
   color: white; 
   font: 24px/45px; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px; 

}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}
#alpine-back{
    margin-top:0px;
    width: 50%;
	}
	#offerta-benessere-back{
    width: 49.5%;
    margin-left:-3px;
    margin-top:2px;
}
#nordic-back{
	margin-left:-3px;
	width: 49.5%;
	background-position: 50% 10%;
	}
#notonly-back{
    margin-top:2px;
	width: 33%;
}
#notonly1-back{
	margin-left:-3px;
	width: 49.5%;
	margin-top:2px;
	
}
#scuola-back{
	margin-top:2px;
	width: 50%;
}
#prezzi-back{
	
	width: 50%;
}
#news-back{
	width: 49%;
}
#summer-back{
	width: 33.5%;
margin-top: 2px;
margin-left: -3px;
}
#hike-back{
    margin-top:2px;
    width: 60%;
	}
#hike-back2{
    margin-top:0px;
    width: 60%;
	}
#spa-back{
    margin-top:0px;
    width: 50%;
	
}
#acqua-back{
margin-top:2px;
    width: 50%;
	
}
#lastminute-back{
margin-left:-2px;
margin-top:2px;
    width: 49.5%;

}
#fitness-back{
    margin-left:-2px;
    margin-top:2px;
    width: 49.5%;
	
}
#spawelness-back{
	
	margin-top:2px;
    margin-left:-3px;
   width: 49.7%;
}
#beauty-back{

    margin-left:-2px;
    width: 49.5%;
	
}
#walk-back{
    margin-left:-3px;
    width: 39.5%;
	
}
#lunch-back{
	margin-top:18px;
	width: 100%;
}
#winter-back{
	margin-top:2px;
	width: 50%;
}
#offerta1-back{
	width: 50%;
}
#offerta2-back{
	margin-left:-2px;
    width: 49.8%;
    margin-top: 0px;
}
#offerta7-back{
	
    width: 49.8%;
    margin-top: 0px;
    margin-bottom: 2px;
}
#offerta3-back{
	width: 50%;
	margin-left:-2px;
}
#offerta4-back{
	margin-left:-3px;
	
    width: 49.8%;
}
#offerta5-back{
	width: 50%;
}
#offerta6-back{
	margin-left:-3px;
    width: 49.8%;
}
#eventi-back{
margin-left:-3px;
    width: 28%;
	
}
#miniclub-back{
    margin-top:2px;
    width: 34%;
	background-position: 50% 10%;
}
#family-back{
    margin-top:2px;
    width: 34%;
	
}
#attività-back{
    margin-top:2px;
    margin-left: -3px;
width: 32.3%;
	
}
#bici-back{
   margin-top:2px;
   margin-left:-3px;
    width: 33%;
	
}
#guest-back{
   margin-top:2px;
   
    width: 33%;
	
}
#offerte-back{
   margin-top:2px;
   margin-left:-3px;
    width: 33%;
	
}
#map-back{
    margin-top:2px;
    width: 34%;
}
#fam-back{
     margin-top:0;
     width: 50%;
}
#gourmet-back{
     margin-left:-2px;
	 width: 49.5%;
	 
}
#think-back{
     margin-top:2px;
	 width: 32.3%;
	 margin-left:-2px;
	 background-position: 50% 60%;
}
#filosofia-back{
	 width: 33%;
	 margin-left:-2px;
	 margin-top:2px;
}


#cd-placeholder-1{
    margin-top:120px;
    margin-left:14%;
    width: 56%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    position:relative;
}
#cd-placeholder-2{
    margin-top:120px;
    margin-left:-3px;
    width: 30%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    position:relative;
}
#cd-placeholder-3{
    margin-left:14%;
    width: 28%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    
    
}
#cd-placeholder-6{
    margin-left:14%;
    width: 86%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    
    
}

#cd-placeholder-4{
	margin-left:-3px;
    width: 28%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    
}
#cd-placeholder-5{
   margin-left:-3px;
    width: 29%;
    height: 250px;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    
}


}
.footer-distributed{
     background-color:#A9A9A9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 10px 15px;
	clear:both;
	position:relative;
	top:-15px;
		
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-company-name a{
	color:#5C5C3D;
}
.footer-company-name a:hover{
	color:white;
}
/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}


.footer-bottom{
	width:100%;
}
/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px , cursive;
	margin: 0;
}


.footer-distributed h3 span{
	color:  #4791FF;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #5C5C3D;
	font-size: 11px;
	font-weight: normal;
	
}
.footer-company-name{
	position:relative;
	top:5px;
	left:2px;
}
/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .icon-img{
	background-color:#A9A9A9;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #4791FF;
	text-decoration: none;;
}
.footer-left h3{
	
font-size: 25px;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-social{
    position: relative;
	top: 50px;
	
}
.socialimg{
	border-radius: 5px;
	opacity:0.8;
	width:35px;
}
.socialimg1{
	border-radius: 5px;
	opacity:1;
	width:40px;
}
.socialimg:hover{
	opacity:1;
}
.social{
	position:relative;
	top:20px;
}
.center-content{
	margin-top:87px;
}
.left-part, .right-part{
	
  position:relative;
  top:0;
  padding: 0;
  
  height: 250px;
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  max-width: 100%;
  max-height: 100%;
  

}
.left-part p, .right-part p {
  color: #FFF;
	opacity: 1;
	font-size: 20px;
	line-height: 25px;
	position: absolute;
	top: 45%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	margin: 0px auto;
	left: 40%;

}
.left-part p span, .right-part p span{
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgba(0, 0, 0, 0.6);
   padding: 5px; 
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
   font-weight: 600;
   
}
.left-part{
	background-image:url(../img/bici.jpg);
}
.right-part{
	background-image:url(../img/index.jpe);
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}
	

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center .icon-img{
		margin-left: 0;
	}
	.footer-social{
		margin-left:auto;
		margin-right:auto;
	}
	.footer-center div a{
		opacity:0.8;
		
	}
	.footer-center div a:hover{
		opacity:1;
		
	}
	.link-img, .trentino-img{
		display:block;
		margin:auto;
		padding-top:25px;
	}
	

}
@media (min-width: 1140px) {
   
.left-part:hover, .right-part:hover {
	 opacity:1;
 
    transition: all 0.7s ease-out;
   /* filter: grayscale(0%);*/
}
    .center-content{
    	left: 22%;
	height: 100%;
	margin-top:0px;
position: relative;
    }
    .left-part{
    width: 39%;
	position: relative;
	height: 100%;
	float: left;
	opacity:0.7;
	transition: all 0.7s ease-out;
    }
    .right-part{
    	width: 39%;
position: relative;
height: 100%;
       left:39%;
       opacity:0.7;
transition: all 1s ease-out;
    }
	.footer-distributed{
	display:none;
	margin-left: 222px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom:0px;
	position:relative
		
	}
	.footer-center{
		margin-top:20px;
	}
	#more-margin{
		margin-top:150px;
	}
	.news{
		position: relative;
	top: 35px;
	left: 18%;
	width: 250px;
	text-align: center;
	margin-bottom:0;
	}
	.news-button{
	position: relative;
	
	}
	.footer-left h3{
	position:relative;
	top: 75px;
font-size: 30px;
}
	.footer-company-name{
	position:relative;
	top:65px;
	
}
.divs-inside{
	position: absolute;
	top: 300px;
	width: 100%;
}
}
.contact-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
.icon-img{
	background-color:#A9A9A9;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.p-contacts{
	position: relative;
left: 65px;
color: #030D18;
opacity: 1;
font-size: 18px;
font-weight: 300;
line-height: 25px;
text-transform: none;
margin-bottom: -30px;
top: -38px;
}

.news{
	margin-bottom:200px;
	}
@media screen and (min-width: 1540px) {	
.fixed-menu ul{
   
	top: 100px;
		
}
.fixed-menu ul li{
	
	padding-bottom: 28px;
}
.lang-switch {
	top:300px;
}
}
